* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.title {
  color: blueviolet;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 16px;
}

.subtitle {
  max-width: 680px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  font-weight: 200;
  color: #262628;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 60px 0;
}

.img-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7px;
  margin-right: 60px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 450px;
}

.memo-img {
  width: 450px;
  width: 100%;
  height: auto;
}

.text-container {
  width: 100%;
  text-align: center;
}

.size-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 12px;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 8px;
  color: #47474f;
}
.size-option {
  display: flex;
}

.size-text {
  font-size: 16px;
  line-height: 20px;
  margin-right: 20px;
}

.note {
  display: flex;
  padding: 10px;
  padding-bottom: 0;
  font-size: 12px;
  font-style: italic;
}
.max {
  margin-left: auto;
}
.note span {
  color: red;
}

#size-input {
  width: 72px;
  height: 40px;
  text-align: right;

  padding: 8px 12px;
  background-color: #fff;
  border: 1px solid #707078;
  border-radius: 4px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

#font-color {
  display: inline-block;
  width: 30px;
}

.memo-text {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  color: #000;
  font-size: 20px;
  word-break: keep-all;
  border: 0;
  background-color: transparent;
line-height: 1;
}

.text {
  padding-bottom: 20px;
}

.img-upload,
.img-save {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgb(66, 161, 66);
  border-radius: 6px;
  color: #fff;
  width: 310px;
  height: 60px;
  transition: background-color 0.15s ease-in-out;
}
.img-upload {
  margin-bottom: 15px;
}

.input {
  display: none;
}

.upload-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: #fff;
  color: rgb(66, 161, 66);
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
}

.label {
  display: flex;
  cursor: pointer;
  padding: 17px 25px 17px 32px;
  font-weight: 600;
}

.btn {
  width: 100%;
  height: 100%;
  padding: 0;
  padding: 17px 25px 17px 32px;
  font-weight: 600;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
}

.editor-toolbar {
  position: absolute;
  display: flex;
  padding: 8px;
  align-items: center;

  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 8px;
  -ms-flex-align: center;
  z-index: 3;
  left: 50%;
  transform: translate(-50%, 10%);
}

.editor-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.editor-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 24px;
  list-style: none;
  margin-right: 10px;
  cursor: pointer;
}

.editor-item:last-child {
  margin-right: 0;
}

.editor-option {
  display: flex;
  align-items: center;
  color: #000;
}

.option-name {
  display: inline-block;
  font-size: 16px;
  padding-right: 3px;
  line-height: 16px;
}

.size::after,
.family::after {
  display: block;
  position: absolute;
  content: "";
  background: url("../img/select_sm.svg") no-repeat 50%;
  width: 4px;
  height: 4px;
  right: 0;
  top: 50%;
  z-index: 3;
}

.active {
  background: #f5f5fa;
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

.bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}
